asn1crypto==0.24.0
base58==1.0.2
certifi==2018.10.15
cffi==1.11.5
chardet==3.0.4
coincurve==9.0.0
-e git://github.com/pdxwebdev/eccsnacks.git#egg=eccsnacks
idna==2.7
pkg-resources==0.0.0
pycparser==2.19
PyQt5==5.11.3
PyQt5-sip==4.19.13
python-bitcoinlib==0.10.1
requests==2.20.0
urllib3==1.24.1
-e git://github.com/pdxwebdev/pyrx#egg=pyrx
